.App {
  font-family: Arial, sans-serif;
}
.app-container {
  padding-top: 70px; /* Ajusta el valor según la altura de tu navbar */
}
.chat-container {
  margin-top: 20px;
}

.message {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.message.user {
  background-color: #e1ffc7;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
